# Java Ignores
/java/trip-service-kata/target
/java/trip-service-kata/.classpath
/java/trip-service-kata/.project
/java/trip-service-kata/.settings
/java/trip-service-kata/tomcat.*
/java/trip-service-kata/.idea
/java/trip-service-kata/*.iml

# C# Ignores
_ReSharper.*/
[Bb]in
[Oo]bj
*.suo
*.user
_NCrunch_*/

# Python Ignores
*.pyc

#php netbeans
php/nbproject/

# JavaScript Ignores
/javascript/node_modules

# Ignore Vim undo history
*.un~

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# IntelliJ IDEA
.idea/
.idea_modules
out/
*.iml
**/.idea

#Xcode / Objective-c Ignores

.DS_Store

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
.vs
**/.vs
c\#/.vs/TripServiceKata/v17/TestStore/0/000.testlog
c\#/.vs/TripServiceKata/v17/.futdcache.v1
c\#/.vs/TripServiceKata/FileContentIndex/72338c9c-9acd-4d8d-a6d1-21023a5b752d.vsidx
c\#/.vs/TripServiceKata/FileContentIndex/08225996-b194-49f5-8ce7-2ae9a6eaa93f.vsidx
c\#/.vs/TripServiceKata/DesignTimeBuild/.dtbcache.v2
c\#/.vs/ProjectEvaluation/tripservicekata.projects.v2
c\#/.vs/ProjectEvaluation/tripservicekata.metadata.v2
c\#/.vs/TripServiceKata/v17/TestStore/0/000.testlog
c\#/.vs/TripServiceKata/v17/.futdcache.v1
c\#/.vs/TripServiceKata/FileContentIndex/72338c9c-9acd-4d8d-a6d1-21023a5b752d.vsidx
c\#/.vs/TripServiceKata/FileContentIndex/08225996-b194-49f5-8ce7-2ae9a6eaa93f.vsidx
c\#/.vs/TripServiceKata/DesignTimeBuild/.dtbcache.v2
c\#/.vs/ProjectEvaluation/tripservicekata.projects.v2
c\#/.vs/ProjectEvaluation/tripservicekata.metadata.v2
c\#/.vs/
c\#/.vs/TripServiceKata/v17/TestStore/0/000.testlog
